<div class="header">
    <div class="user-picture">
        <img class="avatar" src="{{post.user.pictureUrl}}" alt="User avatar">
    </div>
    <div class="username">
        {{ post.user.id === user.id ? 'Me' : post.user.username }}
    </div>
    <div class="right">
        <div class="actions"><a [class.liked]="post.liked" (click)="like()"><i class="glyphicon glyphicon-heart"></i></a></div>
    </div>
</div>
<div class="body">
    <pre class="message">{{post.message}}</pre>
    <div *ngIf="post.content">
        <div *ngIf="post.content.type === 'picture'">
            <picture-post-content [postContent]="post.content"></picture-post-content>
        </div>
        <div *ngIf="post.content.type === 'youtube'">
            <youtube-post-content [postContent]="post.content"></youtube-post-content>
        </div>
        <div *ngIf="post.content.type === 'video'">
            <video src="{{post.content.value.mediaUrl}}" controls></video>
        </div>
    </div>
</div>
<div class="footer">
    <p class="date">Posted on {{post.creationTime | date}}</p>
    <div *ngIf="!isComment">
        <button class="toggle-comments btn btn-default btn-xs" (click)="showComments = !showComments">{{ showComments ? 'Hide' : 'Show' }} comments section ({{ post.comments !== undefined ? post.comments.length : 0 }} comment{{ post.comments !== undefined ? (post.comments?.length === 1 ? '' : 's') : 's' }})</button>
        <div class="comments" *ngIf="showComments">
            <post-comment *ngFor="let comment of post.comments" [comment]="comment"></post-comment>
            <user-inputs [post]="post"></user-inputs>
        </div>
    </div>
</div>
<style>
    :host {
        background: white;
        display: block;
        border-radius: 4px;
        border: 1px solid #d8d8d8;
        margin-top: 20px;
    }
    .toggle-comments{
        margin-bottom: 5px;
    }
    .footer {
        border-top: solid 1px grey;
        padding-top: 5px;
        padding-left: 5px;
    }
    .date {
        font-size: 10px;
        font-style: italic;
    }
    .user-picture {
        width: 50px;
        height: 50px;
        border-radius: 2px;
    }
    .avatar {
        max-height: 100%;
        max-width: 100%;
    }
    .header {
        padding: 15px;
        display: flex;
    }
    .username {
        font-weight: bold;
        padding: 0 15px;
    }
    .right {
        width: 100%;
        display: flex;
        /*align-items: center;*/
        justify-content: flex-end;
    }
    .right > .date {
        padding-left: 10px;
    }
    .actions > a {
        color: white;
        text-shadow: 0 0 3px black;
        cursor: pointer;
    }
    .actions > a.liked {
        color: #f17070;
        text-shadow: none;
        cursor: default;
    }
    pre.message {
        background: none;
        margin:0;
        border: none;
    }
</style>